/* adminDashboard.css */

/* Style général du tableau de bord */
.admin-dashboard {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  /* Style du titre */
  .admin-dashboard h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style du tableau */
  .admin-dashboard table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style des en-têtes de tableau */
  .admin-dashboard th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
  }
  
  /* Style des cellules de tableau */
  .admin-dashboard td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  /* Style des lignes impaires du tableau */
  .admin-dashboard tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  /* Style des boutons */
  .admin-dashboard button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Couleur de fond au survol des boutons */
  .admin-dashboard button:hover {
    background-color: #45a049;
  }